# Example Environment API Configuration

# For local development (pointing to local proxy or dev backend)
# VITE_API_URL=/api
# VITE_API_URL=http://localhost:8000

# For production deployment
# VITE_API_URL=https://api.example.com
VITE_API_URL=https://178.128.198.121/api/v1
